@import "tailwindcss";

/* @config {
    --font-size-course-details-heading-small: ['26px', '36px'];
    --font-sizecourse-details-heading-large: ['36px', '44px'];
    --font-sizehome-heading-small: ['28px', '34px'];
    --font-sizehome-heading-large: ['48px', '56px'];
} */

/* @theme {
    --font-size-course-details-heading-small: ['26px', '36px'];
    --font-sizecourse-details-heading-large: ['36px', '44px'];
    --font-sizehome-heading-small: ['28px', '34px'];
    --font-sizehome-heading-large: ['48px', '56px'];

} */

* {
    font-family: 'Outfit';
}